# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Docker
.docker/
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

db.sqlite3
*.tar.gz

# 忽略 Unix/Linux/Mac 個人 shell 設定檔案
.bash_history
.bash_logout
.bashrc
.profile
.lesshst

# 忽略 SSH 機密金鑰與授權文件
.ssh/

# 忽略 Google Cloud 設定檔案
.config/gcloud/
